* {
    padding: 0;
    margin: 0;
}

body{
    background: #1b3d6e;
}

.padre {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hijo {
    padding: 10px;
    min-width: 40px;
    min-height: 400px;

    display: grid;
    grid-gap: 20px;

    grid-template-rows: repeat(2,auto);
    grid-template-columns: repeat(1,auto);
}

img {
    width: 100%;
    margin-bottom: 40px;
}

.links{
    display: grid;
    grid-gap: 0px;
    font-Family: "Montserrat";

    grid-template-columns: repeat(2,1fr);
}
